GOOGLE_CALENDAR_ICAL_URL="Secret address in iCal format"
GEMINI_API_KEY=""
SUPER_NLM_API_KEY=""
SUPER_NLM_REQUIRE_AUTH_LOCAL="false"
SUPER_NLM_ALLOWED_ORIGINS="http://127.0.0.1:8000,http://localhost:8000"
SUPER_NLM_PORT="8000"
CALENDAR_CACHE_TTL_SECONDS="900"
SUPER_NLM_SKIP_UPGRADE="true"